@import 'vars';
@import 'global';
@import 'fonts';

// start header

.header__top-inner{
   display: flex;
   justify-content: space-between;
   height: 90px;
   align-items: center;
}
.header__text{
   margin-left: auto;
   margin-right: 50px;
   span{
      color: $red;
   }
}
.header__btn{
  width: 72px;
  padding: 4px;
  border-radius: 4px; 
  text-align: center;
  color: #fff;
  font-size: 12px;
  line-height: 24px;
}
.header__btn-login{
   background-color: $green;
}
.header__btn-register,
.header__btn-logout{
   background-color: $red;
   margin-left: 7px;
}
.header__menu{
   background-color: $bg;
}
.menu{
   display: flex;
   align-items: center;
   height: 60px;
}
.menu__list{
   li{
      display: inline-block;
      & + li{
         margin-left: 30px;
      }
   }
   a{
      color: #fff;
      font-size: 14px;
   }
}
.header__circle{
   display: none;
   width: 34px;
   height: 34px;
   background-color: #f5f5f5;
   border-radius: 50%;
   position: relative;
   &::before{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #a0a0a0;
      font-size: 14px;
   }
   &.active{
      display: block;
   }
   & + .header__circle{
      margin-left: 15px;
   }
   span{
      position: absolute;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      text-align: center;
      line-height: 18px;
      right: -7px;
      top: -7px;
      font-size: 11px;
      color: #fff;
   }
}
.notification{
   span{
      background-color: $yellow;
   }
}
.message{
   span{
      background-color: $tomato;
   }
}
.basket{
   span{
      background-color: $green;
   }
}
.user{
   margin-left: 20px;
   margin-right: 25px;
   padding-right: 20px;
   position: relative;
   &::before{
      position: absolute;
      content: "\f107";
      font-family: 'icomoon';
      font-size: 16px;
      color: #707070;
      top: 0;
      right: 0;
   }
   &__inner{
      display: flex;
      align-items: center;
   }
   &__images{
      margin-right: 15px;
      width: 34px;
      height: 34px;
      overflow: hidden;
      border-radius:50%;
   }
   &__info{
      font-size: 14px;
      line-height: 24px;
   }
   &__name{
      @include f500;
      color: #222;
   }
   &__money{
      color: $green;
      @include f700;
   }
}
.header__box{
   display: flex;
   align-items: center;
}
.header__btn-login--off{
   display: none;
}
.header__btn-logout{
   display: none;
   &.header__btn-login--on{
      display: block;
   }
}
.user__box{
   position: relative;
   margin-top: 40px;
   height: 90px;
   &:hover{
      .user__menu{
         height: auto;
         border-width: 1px;
         padding: 20px;
         overflow: auto;
      }
   }
}
.user__menu{
   top: 69px;
   left: 20px;
   border: 0px solid rgb(204, 204, 204);
   position: absolute;
   background-color: #fff;
   padding: 0px 20px;
   width: 158px;
   transition: all .3s;
   height: 0px;
   overflow: hidden;
   a{
      font-size: 12px;
      color: #546e7a;
      margin-bottom: 15px;
   }
}
// end header
// start search

.search{
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   min-height: 533px;
   &.page-search{
      min-height: 230px;
      .search__inner{
         padding: 55px 0 70px;
         &-text{
            margin-bottom: 20px;
         }
      }
   }
}
.search__inner{
   padding: 155px 0px 100px;
   color: #fff;
   text-align: center;
   &-title{
      margin-bottom: 10px;
      font-size: 48px;
      @include f700;
      line-height: 72px;
   }
   &-text{
      font-size: 20px;
      margin-bottom: 50px;
      @include f500;
      line-height: 30px;
   }
   &-form{
      max-width: 670px;
      margin: 0 auto;
      position: relative;
      input{
         display: block;
         width: 100%;
         box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
         border-radius: 4px;
         height: 56px;
         border: none;
         font-size: 14px;
         @include f500;
         padding-left: 25px;
         padding-right: 60px;
         &::placeholder{
            color: #90a4ae;
            @include f500;
         }
      }
      button{
         position: absolute;
         border:none;
         background-color: transparent;
         right: 20px;
         top: 16px;
      }
   }
}

// end search
// start products
.products{
   padding: 110px 0;
   background-color: $grey;
}
.products__inner-btn{
   text-align: center;
   margin-bottom: 60px;
   button{
      font-size: 14px;
      padding: 12px 21px;
      border: none;
      background-color: #fff;
      color: $bg;
      cursor: pointer;
      & + button{
         margin-left: 5px;
      }
      &.mixitup-control-active{
         background-color: $red;
         color: #fff;
      }
   }
}
.products__inner-box{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
.product__item{
   max-width: 442px;
   width: 100%;
   box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
   margin-bottom: 30px;
   &-img{
      min-height: 250px;
      background-repeat: no-repeat;
      display: block;
      background-position: center;
      background-size: cover;
   }
   &-content{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 30px;
      min-height: 90px;
      @include f500;
      border-bottom: 1px solid #e7ecf2;
   }
   &-name{
      max-width: 310px;
   }
   &-title{
      color: $bg;
      font-size: 18px;
      display: block;
   }
   &-category{
      display: block;
      font-size: 14px;
      color: $green;
   }
   &-price{
      font-size: 20px;
      color: $bg;
      @include f700;
   }
   &-info{
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 70px;
      padding: 10px 30px;
   }
   &-author{
      display: flex;
      align-items: center;
      max-width: 245px;
      .avatar{
         min-width: 30px;
         height: 30px;
         border-radius: 50%;
         background-position: center;
         display: inline-block;
         background-repeat: no-repeat;
         background-size: cover;
         margin-right: 14px;
      }
      span{
         font-size: 14px;
         @include f500;
      }
   }
   &-star{
      font-size: 12px;
      span{
         color: $bg;
      }
   }
}
.products__bottom-btn{
   
   text-align: center;
   button{
      margin: 45px 5px 0;
      box-shadow: 0px 1px 3px 0px rgba( 204, 216, 228, 0.75);
      border: none;
      background-color: #fff;
      color: $bg;
      padding: 20px 30px;
      cursor: pointer;
      &.mixitup-control-active{
         background-color: $red;
         color: #fff;
      }
   }
}

// end products
// start product-slider
.product-slider{
   padding: 110px 0px 120px;
   .slick-dots{
      text-align: center;
      margin-top: 50px;
      li{
         display: inline-block;
         margin-left: 3px;
         margin-right: 3px;
         &.slick-active{
            button{
               background-color: $green;
            }

         }
         button{
            border-radius: 50%;
            background-color: rgb(232, 232, 232);
            border: none;
            font-size: 0;
            width: 16px;
            height: 16px;
            cursor: pointer;
            outline: none;
         }
      }
   }
}


// end product-slider
// start advantages
.advantages{
   background-color: $bg;
   padding: 110px 0px;
}
.advantages__title{
   color: #fff;
}
.advantages__inner{
   display: flex;
   justify-content: space-between;
}
.advantages__item{
   max-width: 370px;
   text-align: center;
   padding: 0 15px;
   
   &:hover{
      .advantages__item-images{
         background-color: $green;
      }
      .advantages__item-title{
         color: $green;
      }
      .advantages__item-images{
         path{
            fill: #fff;
         }
      }
   }
   &-images{
      width: 114px;
      height: 114px;
      background-color: #fff;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      margin-bottom: 30px;
      transition: all .5s ;
   }
   &-title{
      margin-bottom: 25px;
      font-size: 24px;
      color: #fff;
      @include f500;
      transition: all .5s ;
   }
   &-text{
      font-size: 15px;
   }
}
.icosvg-1{
   svg{
       width: 50px;
   }
  
}
.icosvg-2{
   svg{
      width: 70px;
   }
   
}
.icosvg-3{
   svg{
      width: 86px;
   }
}
// end advantages
// start author
.author{
   
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   min-height: 750px;
   display: flex;
   justify-content: center;
   align-items: center;
   &__box{
      background-color: $green;
      max-width: 650px;
      width: 100%;
      min-height: 215px;
      display: flex;
      align-items: center;
      justify-content: center;
   }
   &__title{
      font-size: 30px;
      line-height: 30px;
      color: #fff;
      margin-right: 45px;
      max-width: 265px;
      span{
         @include f700;
      }
   }
   &__link{
      background-color: #fff;
      font-size: 18px;
      line-height: 36px;
      padding: 14px 40px;
   }  
}
// end author
// start tutorial
.tutorial{
   padding: 70px 0px 120px;
   &__inner{
      display: flex;
      justify-content: space-between;
   }
   &__item{
      max-width: 370px;
      width: 100%;
   }
}
.tutorial__item{
   &-images{
      min-height: 270px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      
   }
   &-title{
      background-color: #f8f8f8;
      font-size: 24px;
      text-align: center;
      @include f700;
      padding: 30px 10px;
      color: $bg;
   }
}
// end tutorial
.footer{
   color: #b7c3c8;
   background-color: $bg;
   padding: 116px 0px 90px;
}
.footer__inner{
   display: flex;
   justify-content: space-between;
   
}
.footer__item-title{
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 50px;
  position: relative;
  &::after{
     position: absolute;
     content:'';
     display: block;
     width: 50px;
     height: 3px;
     background-color: $green;
     bottom: -25px;
  }
}
.item-about{
   max-width: 285px;
   width: 100%;
   &__text{
   font-size: 15px;
   font-weight: 400;
   line-height: 24px;
   margin-bottom: 35px;
   }
   &__map,
   &__phone{
      position: relative;
      padding-left: 28px;
      color: #fff;
      &::before{
         position: absolute;
         top: 0;
         left: 0;
         color: $green;
         font-size: 18px;
         font-family: 'icomoon';
      }
   }
   &__map::before{
      content: "\f041";
   }
   &__phone::before{
      content: "\f095";
   }
}
.item-community,
.item-help{
   & li{
      padding-left: 20px;
      position: relative;
      &::before{
         font-family: 'icomoon';
         position: absolute;
         content: "\f105";
         font-size: 18px;
         left: 0;
         top: 0;
         color: $green;
      }
      & + li{
         margin-top: 15px;
      }
   }
   a{
      color: #b7c3c8;
   }
}
.footer__social{
   margin-top: 66px;
   margin-bottom: 35px;
   img{
      margin-right: 5px;
   }
}
.footer__form-title{
   font-size: 20px;
   line-height: 36px;
   font-weight: 400;
   color: #fff;
}
.footer__form{
   width: 260px;
   height: 40px;
   position: relative;
   input{
      width: 100%;
      height: 100%;
      border: none;
   }
   button{
      border: none;
      position: absolute;
      right: 0;
      top: 0;
      width: 40px;
      height: 40px;
      background-color: $green;
      
   }
   
}
.icon-location-arrow::before {
    content: "\f124";
    color: #fff;
    font-size: 18px;
    text-align: center;
}
// end footer
//start product-page
.product-page__inner{
  display: flex;
  padding-bottom: 110px;
}
.product-page__aside{
  margin-right: 30px;
}
.aside-item{
  background-color: #fff;
  border: solid 1px #dedede;
  padding: 0px 32px 32px;
  margin-bottom: 30px;
  width: 270px;
}
.aside__title{
  border-bottom: 1px solid #dde3e8;
  font-size: 20px;
  color: $bg;
  padding: 22px 0 19px;
  @include f700;
  
}
.category__list{
  padding-top: 10px;
  li{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 20px;
    &::before{
      color: #8bc34a;
      content: '\f105';
      position: absolute;
      left: 0;
      font-size: 18px;
      font-family: 'icomoon';
    }
    
  }
  a{
    color: $bg;
  }
  span{
    font-size: 15px;
    color: #90a4ae;
    margin-left: 10px;
  }
}
.price-range{
  form{
    padding-top: 20px;
    
  }
  button{
    margin-top: 55px;
    padding: 16px 10px;
    background-color: $green;
    text-align: center;
    color: #fff;
    @include f500;
    width: 100%;
    display: block;
    border: none;
    cursor: pointer;
    position: relative;
    &::before{
      color: #fff;
      content: "\f002";
      position: absolute;
      left: 58px;
      top: 15px;
      font-size: 15px;
      font-family: 'icomoon';
    }
  }
}
.irs-min,
.irs-max{
  display: none;
}
.irs--flat .irs-line{
  background-color: #f2f5f8;
  height: 5px;
}
.irs--flat .irs-bar{
  background-color: $bg;
  height: 5px;
}
.irs--flat .irs-handle{
  width: 16px;
  height: 16px;
  border: 4px solid $green;
  background-color: #fff;
  border-radius: 50%;
  top: 19px;
}
.irs--flat .irs-handle > i:first-child{
  display: none;
}
.irs-from,
.irs-single,
.irs-to{
  top: 45px;
}
.irs--flat .irs-from::before, .irs--flat .irs-single::before, .irs--flat .irs-to::before{
  display: none;
}
.irs--flat .irs-from, .irs--flat .irs-single, .irs--flat .irs-to {
    color: #78909c;
    font-size: 15px;
    line-height: 1.333;
    text-shadow: none;
    padding: 0px 0px;
    background-color: transparent;
    border-radius: 0px;
}
.product-page__aside{
  .product__item{
      box-shadow: none;
      padding-bottom: 30px;
      margin-bottom: 30px;
      border-bottom: 1px solid #dde3e8;
      &-img{
      min-height: 120px;
      }
      &-title{
      font-size: 16px;
      }
      &-price{
      font-size: 16px;
      }
      &-content{
      min-height: 75px;
      border-bottom: none;
      padding: 0;
      }
      &-info{
      padding: 0;
      min-height: 0;
      }
      &-starnum{
      display: none;
      }
      .rate-star{
      margin-right: 0;
      }
   }
}
.product__item-author .avatar{
   margin-right: 9px;
}

.jq-ry-container{
   padding: 0;
}
.aside__product-item{
   .product__item:last-child{
      border: none;
      padding-bottom: 0;
   }
   .product__item:first-child{
      margin-top: 25px;
   }
}
.top-sellers__link{
   background-color: $green;
   padding: 16px 10px;
   display: block;
   color: #fff;
   @include f500;
   text-align: center;
}
.product-page__filter{
   background-color: #fff;
   border: solid 1px #dedede;
   padding: 0px 20px;
   margin-bottom: 30px;
   height: 60px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   button{
      cursor: pointer;
      background-color: transparent;
      border: none;
      font-size: 16px;
      color: #90a4ae;
      outline: none;
      &.active{
         color: $green;
      }
   }
   
}
button.icon-sort-amount-desc{
   font-size: 18px;
   color: #455a64;
}
.product-page__filter-sort{
   color: #707070;
   font-size: 14px;
   display: flex;
   align-items: center;
}
button.icon-unsorted{
   font-size: 14px;
   color: #707070;
}
.product-page__content{
   width: 100%;
}
.product-page__content{
   .product__item{
      max-width: 270px;
      background-color: #fff;
      transition: all .5s;
   }
   .product__item-img{
      min-height: 180px;
   }
   .product__item-content{
      padding: 10px 20px;
   }
   .product__item-title{
      font-size: 16px;
   }
   .product__item-info{
      min-height: 65px;
      padding: 10px 20px;
   }
   .rate-star{
      margin: 5px;
   }
   .jq-ry-container{
      padding: 0;
   }
}
.product-page__items{
   display: flex;
   justify-content: space-between;
   margin-bottom: 30px;
   flex-wrap: wrap;
}
.pagination__list{
   li{
      display: inline-block;
      & + li{
         margin-left: 6px;
      }
   }
   a,
   span{
      box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, .75);
      width: 43px;
      height: 38px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      font-size: 16px;
      color: $bg;
      @include f500;
      &.active{
         background-color: $red;
         color: #fff;
      }
   }
}
.product__item-text{
   display: none;
   
}
.product__item-price{
   span{
      display: none;
   }
}
.product__item-list{
   display: none;
   .icon-comment-o,
   .icon-heart-o{
      padding-left: 50px;   
      border-left: 1px solid #aeb4bb;
      position: relative;
      &::before{
         font-size: 16px;
         color: $green;
         position: absolute;
         left: 20px;
         top: 0;
      }
   }
   .icon-comment-o{
      padding-right: 30px;
      &::before{
         top: -2px;
      }
     
   }
   
   a{
      font-size: 12px;
      color: $bg;
   }
   span{
      display: inline-block;
      font-size: 12px;
      color: $bg;
   }
}
.product__item{
   &.list{
      max-width: 100%;
      .product__item-img{
         width: 240px;
         float: left;
         min-height: 100%;
      }
      .product__item-text{
         display: block;
         font-size: 14px;
         color: #70838d;
         margin-top: 15px;
         margin-bottom: 5px;
      }
      .product__item-price{
         font-size: 30px;
         
         span{
            display: block;
            font-size: 13px;
            color: #aeb4bb;
            margin-top: 30px;
         }
         
      }
      .product__item-name{
         max-width: 480px;
      }
      .product__item-content{
         padding-top: 23px;
      }
      .product__item-list{
         display: block;
      }
      .product__item-star{
         margin-left: auto;
         margin-right: 30px;
      }
   }
}